/* Estilo Geral */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

/* Cabeçalho */
header {
    background-color: #007bff;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

/* Área Principal */
main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Resumo Geral */
#resumo {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
    text-align: center;
}

#resumo p {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    flex: 1;
    margin: 0 10px;
}

#resumo p span {
    display: block;
    font-size: 28px;
    color: #007bff;
    font-weight: bold;
}

/* Gráficos */
.charts {
    text-align: center;
}

.charts h2 {
    margin-bottom: 20px;
    color: #007bff;
}

canvas {
    max-width: 100%;
    margin: 0 auto;
}

.dashboard-container {
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.avaliacoes {
    margin-top: 20px;
}

.avaliacoes h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #007BFF;
}
